body {
    background-color:#000000;
    color:#f6f6f6;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
 
}



h1 strong{
color: rgb(34, 161, 207);

}

main {
    display: flex;
}